.display-images{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    // gap:20px;
    width:50%;

    &__item{
    width: 40%;
     display: flex;
     flex-direction: column;
     gap:6px;
     margin:10px;
     &:hover {
        transform: scale(1.1);
        border-radius: 4%;
}
}

    &__text{
        text-align: center;
        font-weight: 500;
    }

    &__img{
        border-radius: 4%;
      
}

    &__button{
       
        display: flex;
        justify-content: center;
        gap:20px;
       
      
    }

    &__share, &__download{
        border-color: black;
        outline: none;
        &:hover {
            background-color: lightgray;
            border-color: black;

    }
    &:focus {
        outline: none;
        
    }
    }
   


}



